@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #111111;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color:grey;
  }
  

  .dev-icons {
    font-size: 3rem;
  }
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.custom-font{
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
  text-decoration: none;
  color:#17202A;
}
.custom-font:hover{
  color: #85929E;
}